@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Permanent+Marker');

html {
  min-height: 100%;
}

body {
  font-family: 'Fira Mono', monospace;
  margin: 0;
  padding: 0;
  height: 100%;
  background: white;
  color: #282c34;
}

a {
  color: #282c34;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 18px;
  line-height: 24px;
}