@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Permanent+Marker');

html {
  min-height: 100%;
}

body {
  font-family: 'Fira Mono', monospace;
  margin: 0;
  padding: 0;
  height: 100%;
  background: white;
  color: #282c34;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: 'Permanent Marker', cursive;
}

h1 {
  font-size: 5rem;
  line-height: 1;
}

p {
  font-size: 16px;
  line-height: 24px;
}