@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Permanent+Marker');

html {
  min-height: 100%;
}

body {
  font-family: 'Fira Mono', monospace;
  margin: 0;
  padding: 0;
  height: 100%;
  background: white;
  color: #282c34;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: 'Permanent Marker', cursive;
}

h1 {
  font-size: 5rem;
  line-height: 1;
}

p {
  font-size: 16px;
  line-height: 24px;
}

.transition-wrapper {
  position: relative;
  z-index: 1;
}

.transition-wrapper .transition-item {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.detail-page {
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}
 
.detail-page.transition-appear {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.detail-page.transition-appear.transition-appear-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
.detail-page.transition-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.detail-page.transition-leave.transition-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}